<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.farrell.youtube.alfredworkflow</string>
	<key>connections</key>
	<dict>
		<key>850CC2DA-6A31-479E-8736-FAE3939F6ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE642FE3-B3A0-4F92-8D78-04A34F263A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9363F39A-FFFC-4C84-B9DF-1488B7688E3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55E4942-7CF2-43E5-8F15-73C2D2C4B642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>986D4B18-2B25-44D9-AB82-59B3C350FA91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB6EB13-3582-43AD-8330-D52EE317087D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE642FE3-B3A0-4F92-8D78-04A34F263A39</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE57A1DA-0301-42B6-B748-A4CD8C813547</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB6EB13-3582-43AD-8330-D52EE317087D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE642FE3-B3A0-4F92-8D78-04A34F263A39</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE642FE3-B3A0-4F92-8D78-04A34F263A39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>329CBF7E-C9FE-4DC3-B327-2681B35A24D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>will Farrell (@willfarrell)</string>
	<key>description</key>
	<string>Search for YouTube videos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube (v1.4)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>youtube</string>
				<key>subtext</key>
				<string>Open YouTube in the Browser</string>
				<key>text</key>
				<string>Go To YouTube</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9363F39A-FFFC-4C84-B9DF-1488B7688E3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.youtube.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C55E4942-7CF2-43E5-8F15-73C2D2C4B642</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>youtube</string>
				<key>script</key>
				<string>from youtube import search_videos

# Use Googles default max results and order by relevance
print(search_videos("{query}", 0, "relevance"))</string>
				<key>subtext</key>
				<string>Search YouTube for '{query}'</string>
				<key>title</key>
				<string>YouTube</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>986D4B18-2B25-44D9-AB82-59B3C350FA91</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2BB6EB13-3582-43AD-8330-D52EE317087D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>script</key>
				<string>from youtube_helper import youtube_helper

print(youtube_helper("{query}"))</string>
				<key>title</key>
				<string>YouTube</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE57A1DA-0301-42B6-B748-A4CD8C813547</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>youtube-download</string>
				<key>subtext</key>
				<string>Download Youtube video at URL</string>
				<key>text</key>
				<string>Download Video</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>850CC2DA-6A31-479E-8736-FAE3939F6ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Download Complete.</string>
				<key>title</key>
				<string>Youtube Download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>329CBF7E-C9FE-4DC3-B327-2681B35A24D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>uhome=$(printf "$HOME");
url="{query}";
if [ -z $url ]; then
	echo "No url provided";
else
	./youtube-dl -q -o "$uhome/Desktop/%(title)s.%(ext)s" "$url"; echo "Completed";
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE642FE3-B3A0-4F92-8D78-04A34F263A39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2BB6EB13-3582-43AD-8330-D52EE317087D</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>329CBF7E-C9FE-4DC3-B327-2681B35A24D6</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>850CC2DA-6A31-479E-8736-FAE3939F6ED6</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>9363F39A-FFFC-4C84-B9DF-1488B7688E3C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>986D4B18-2B25-44D9-AB82-59B3C350FA91</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BE57A1DA-0301-42B6-B748-A4CD8C813547</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BE642FE3-B3A0-4F92-8D78-04A34F263A39</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C55E4942-7CF2-43E5-8F15-73C2D2C4B642</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/willfarrell</string>
</dict>
</plist>
